@inherits UmbracoViewPage<IHeaderProperties>

<!-- Page Header-->
@if (UmbracoContext.PublishedRequest.PublishedContent.ContentType.Alias == HomePage.ModelTypeAlias)
{
    <header class="header" style="background: linear-gradient(45deg, #72166B 65%, white 50%);  padding-top: calc(.1rem + 10px);padding-bottom: 0%;">
            <div class="header-container" style="display: flex; justify-content: space-between; align-items: center;">
            <img src="@Model.MainImage.Url()" style="height: 18%;width: 18%;padding-left:20px" />

            <img src="@Model.Talent4TechImage.Url()" style="height: 14%;width: 14%;margin-right: 29px;" />
            </div>
    </header>
}
else
{
    <header class="masthead" style="background-image: url('@(Model.MainImage.Url())'); padding:  5% 0%">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="site-heading">
                        <h1 style>@Model.Title</h1>
                        <span class="subheading">@Model.Subtitle</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
}
